---
layout: default
title: Tags
permalink: tags
---

<article class="tags">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <section class="tag-list">
    {% capture big_tag_data_string %}
      {%- for tag in site.tags -%}
        {% assign tagname = tag[0] %}
        {% assign tag_slug = tagname | slugify %}
        {% assign popularity = site.tags[tagname].size %}
        {% comment %}
        Create a string with the following values separated by '$':
          1. 9999 minus popularity (at the front, so we can do a reverse sort
             of popularity without having to reverse the alphabetical ordering)
          2. popularity
          3. tag name
          4. tag slug
        {% endcomment %}
        {{- 9999 | minus: popularity -}}${{- popularity -}}${{- tagname -}}$#{{- tag_slug -}},
      {%- endfor -%}
    {% endcapture %}
    {% comment %}
      Split up the big string, sort it and create list of links.
    {% endcomment %}
    {% assign tag_data_strings = big_tag_data_string | split:',' | sort %}
    {% for tag_details in tag_data_strings %}
      {% assign t = tag_details | split: '$' %}
      <a href = "{{ t[3] }}">{{ t[2] }}</a> ({{- t[1] | strip -}})
      {%- unless forloop.last -%}, {%- endunless -%}
    {% endfor %}
  </section>
  <hr>
  <section class="tags-expo">
    <div class="tags-expo-section">
      {% assign sorted_tags = (site.tags | sort:0) %}
      {% for tag in sorted_tags %}
      <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
      <ul class="tags-expo-posts">
        {% for post in tag[1] %}
        <li>
          <a class="" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          </a>
          <small class="post-date">({{ post.date | date_to_string }})</small>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </section>

</article>
